---
BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
BreakBeforeBraces: Linux
BinPackParameters: false
AlwaysBreakAfterReturnType: AllDefinitions
ColumnLimit: 100
...
