name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-artifacts:
    name: Build .so
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vanilla-os/pico:main
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dpkg --add-architecture arm64
          apt update
          apt install -y gnome-software gnome-software-dev meson gcc-aarch64-linux-gnu

      - name: Build
        run: |
          make
          mv build/libgs_plugin_vso.so libgs_plugin_vso_amd64.so
          make clean
          apt -o Dpkg::Options::="--force-overwrite" install -y gnome-software:arm64 gnome-software-dev:arm64
          make all-arm64
          mv build/libgs_plugin_vso.so libgs_plugin_vso_arm64.so

      - name: Calculate and Save Checksums
        run: sha256sum libgs_plugin_vso*.so >> checksums.txt

      - uses: actions/upload-artifact@v4
        with:
          name: gs-plugin-vso
          path: |
              checksums.txt
              libgs_plugin_vso*.so

  release:
    runs-on: ubuntu-latest
    needs: build-artifacts
    permissions:
      contents: write # to create and upload assets to releases
      attestations: write # to upload assets attestation for build provenance
      id-token: write # grant additional permission to attestation action to mint the OIDC token permission

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: gs-plugin-vso

      - name: Create Release
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create "${{ github.ref_name }}" --generate-notes *.so checksums.txt
      
      - name: Attest Release Files
        id: attest
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: '*.so, *.txt'
